.button{
    text-decoration:none;
    color:$dark-grayish-blue;
    font-size:14px;
}

.button-2{
    font-weight:bold;
    font-size:14px;
    letter-spacing: 5px;
    text-decoration:none;
    color:$off-white;
    padding:15px 20px;
    background-color: $soft-red;
    text-align:center;
    box-sizing: border-box;
}