.main{
    display:flex;
    justify-content: space-between;
    margin-top:50px;
    .content{
        width:68%;
        .large-img{
            width:100%;
            height:auto;
        }
    }
}