.main{
    display:flex;
    justify-content: space-between;
    margin-top:50px;
    gap:25px;
    .content{
        width:70%;
        .large-img{
            width:100%;
            height:auto;
            margin-bottom:20px;
        }
        
        .bottom-content{
            display:flex;
            justify-content: space-between;
            .title{
                font-size:45px;
                font-weight:800;
                width:50%;
                margin:0;
                padding-right:70px;
                box-sizing: border-box;
                line-height: 46px;
            }
            .section{
                width:50%;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                gap:25px;
                .article{
                    font-size:15px;
                    color:$dark-grayish-blue;
                }
                .button-2{
                    width:50%;
                }
            }
        }
    }

    .aside{
        width:30%;
        background-color: $very-dark-blue;
        .content-aside{
            padding:20px 15px;
            box-sizing: border-box;
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            height:100%;
            .title-h2{
                width:100%;
                margin:0;
                color:$soft-orange;
                font-size:35px;
            }
            .title-h3{
                width:100%;
                margin:0;
                color:$off-white;
            }
            .para{
                margin:0;
                color:$grayish-blue;
                font-size:15px;
            }
            .line{
                align-self:center;
                height:1px;
                width:70%;
                background-color: $off-white;
            }
        }
    }
}
