@import "./colors.scss";
@import "./button.scss";
@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";

*{
    font-family: 'Inter', sans-serif;
}

body{
    width:1000px;
    margin:auto;
}

